#footer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  height: 50px;
  /* border-top: 1px solid #801FCC; */
  background-color: #801FCC;
  /* color: #801FCC; */
  color:white;
}
