#percent-better-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}

#percent-better-cont h1 {
    font-size: 4em;
    font-weight: bolder;
    color: #FFA600;
}

#percent-better-cont span {
    border-top: 1px solid silver;
    width: 20%;
    margin-top: -30px;
}

/* ----- */

#tracker-boxes-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
}

#new-achievements-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #006FFF;
    border-radius: 25px;
    padding: 0 20px 20px 20px;
    min-width: 350px;
}

#new-achievements-cont h2 {
    font-size: 2em;
}

.separator {
    width: calc(100% + 36px);
    border-top: 1px solid silver;
    height: 0px;
}

.plus {
    color: #006FFF;
}

.achieve {
    background-image: url("../svg/orange-trap.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 350px 40px;
    width: 350px;
    height: 40px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.achieve .circle {
    border: 3px solid #BF7D00;
    border-radius: 100%;
    height: 15px;
    width: 15px;
}

.complete-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 10px;
}

.complete-bar span {
    border-top: 1px solid silver;
    height: 0px;
    width: 60px;
    margin-left: 20px;
    margin-right: 20px;
}

.achieved {
    background-image: url("../svg/blue-dim-trap.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 350px 40px;
    width: 350px;
    height: 40px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.achieved .circle {
    border: 3px solid #006FFF;
    background-color: #006FFF;
    border-radius: 100%;
    height: 15px;
    width: 15px;
}

/* ---- */

#excellent-habits-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #006FFF;
    border-radius: 25px;
    padding: 0 20px 20px 20px;
    min-width: 350px;
}

#excellent-habits-cont h2 {
    font-size: 2em;
}

/* ----- */

#test-svg-cont {
    width: 100%;
    height: 200px;
    margin-top: 50px;
}

#svg {
    background-image: url("../svg/orange-trap.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 200px;
}

