label{
	margin-right: 25px;
	text-align: right;
	width: 75px;
	float: left;
	padding-top: 2px;
	font-weight: bold;
	margin-bottom: 20px;
	color: #801FCC;
}
#whole{
	text-align: center;
	background-color: white;
    border-radius: 25px;
	margin-left: 755px;
	margin-right: 755px;
	display: flex;
	padding-left: 50px;
	padding-right: 50px;
}
#fields{
	margin-bottom: 20px;
	padding-top: 20px;
}
#change{
	margin-top: 20px;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 115px;
	margin-left: 90px;
	font-weight: bold;
	border: 1px solid black;
	background-color: #ff4f00;
	color: #801FCC;
}
#whole form{
    padding-top: 20px;
	background-color: white;
    border-radius: 0px;
}
br{
	clear: both;
}
#username:invalid, #email:invalid, #phone:invalid{
	border-color: red;
}
h1{
	margin-left: 85px;
	color: #ff4f00;
}
body{
	border-radius: 25px;
	background-color: #E8E8E8;
}
